<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Gamiconary</title>
    <link rel="stylesheet", href="{% static 'style.css'%} " />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {%block extra_head %} {% endblock %}
</head>
<body> <!-- ======= Barre de Navigation ======= -->
    <nav class="navbar">
        <div class="container">
                <ul class="nav-links">
                <li><a href="{% url 'home' %}">Accueil</a></li>
                <li><a href="{% url 'suggestion' %}">Proposer un terme</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>

    </nav>

    <!-- ======= Contenu principal ======= -->
    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <!-- ======= Pied de page ======= -->
    <footer class="footer">
        <p>&copy; 2025 Gamiconary - Tous droits réservés.</p>
    </footer>
        {% block extra_js %} {% endblock %}
</body>
</html>
